#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: ivanachavez # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC4oEUmNmuEv0dbdlXnv1yzX8tGD+3AvHme/bYXHPUgyV14gXkqv2nur8vTcQNKsZKS9ldgt+KeVTQmukHLxZK600jE5/Y7OdAx8A5GzLnOwu+MQ7GKaGngFUBdwwDrAPHm7RUDWuwC9PbxPa/zAiCa8zlmEnsuyivLpFab2wuk/NlXADvSbvp8pLB0aL2TlbMM+A5UMsRECChJIPIMPC4fAMvzLdC6lFK9HM7u0K8TbH7p+CXWr26ZLhveirHDanCcBpqtuMlXgwkgd4+EQFVUB0uUJzTLINkZAZdNfMbJLOHmLcmzx/n9+ZYhxe+N+dq8NnavkCNfGvIbDxrv/I9 alvarobarbery@alvarobarbery-Virtual-Machine
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDOplu87wqX0VX+/Vu2laKyb0aBgR9JRWKM9IXwydsCJK0YjMiMj8KyuRUj3xTVJFgljUqmzzrN5lPu2xr38HQs3OPs3r9BKmPEx2yJTYb/Oba37ILBE54K9jPILKQZ2KnlVC8uRrSez77MvBi4djQp1MdOedhT/hQ+RtZbxkPMlFby4GeoWA2rURpuLaBjc9vyveM+R8JorHid5Qi/gLzmLqV+S2l9xhvVFfrhAtVjKcwYr0AvUF+WSgQrunw/X+yqveodVMfVNokna+6WFegZVfxN67w8W4/IsIbk0sipv1q/X/QXreuq0kaLKT38u+C4cxerkA2r6o01mZkAcZUZ ivana@ivana-Virtual-Machine
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
